* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.min__container {
  width: 1170px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  padding: 0;
  margin: 0;
}

p span {
  color: #000;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px auto 27px auto;
}

.logo {
  margin-left: 80px;
}

.navigation nav a {
  padding-right: 31px;
}
.navigation nav a span {
  font-size: 18px;
  font-weight: 400;
}

.header__button {
  margin-right: 70px;
}
.header__button button {
  padding: 13px 24px 8px 24px;
  border-radius: 5px;
  border: 1px solid #f7941e;
  text-transform: uppercase;
  color: #F7941E;
  font-size: 18px;
  font-weight: 400;
  background: white;
}

.family {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  background: #F1F1F2;
}
.family__title h1 {
  padding: 154px 126px 36px 162px;
  font-size: 56px;
  font-weight: 600;
  width: 433px;
}
.family__title p {
  font-size: 20px;
  line-height: 140.625%;
  font-weight: 400;
  padding: 0 137px 52px 162px;
  width: 422px;
}
.family__title button {
  padding: 13px 24px 8px 24px;
  border-radius: 5px;
  border: 1px solid #f7941e;
  text-transform: uppercase;
  margin: 0 359px 126px 162px;
  background: #f7941e;
  color: white;
}
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1F1F2;
}
.work__title h2 {
  padding: 164px 413px 23px 102px;
  font-size: 32px;
  font-weight: 400;
  line-height: 140.625%;
}
.work__title p {
  width: 441px;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  padding: 0 166px 35px 102px;
}
.work__title button {
  border-radius: 5px;
  border: 1px solid #f7941e;
  color: #F7941E;
  margin: 0 453px 118px 102px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 134.766%;
  padding: 21px 46px 14px 47px;
  width: 200px;
}

.toys {
  margin: 96px auto 137px auto;
}
.toys h2 {
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 23px;
  text-align: center;
}
.toys p {
  text-align: center;
  font-size: 18px;
  line-height: 135.938%;
  font-weight: 400;
}
.toys__cards {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.toys__card {
  width: 270px;
  height: 436px;
  background: #FAFAFA;
}
.toys__card p {
  padding: 24px 0 74px 24px;
  width: 222px;
  text-align: start;
}
.toys__card span {
  padding: 0 179px 24px 24px;
  white-space: nowrap;
}

.activ {
  background: white;
  -webkit-box-shadow: -17px 21px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -17px 21px 8px 0px rgba(34, 60, 80, 0.2);
}

.ready {
  background: #F7941E;
}
.ready__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 230px;
}
.ready__title {
  padding-top: 81px;
  padding-left: 130px;
  padding-bottom: 69px;
}
.ready__title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 140.625%;
}
.ready__title p {
  font-size: 32px;
  font-weight: 400;
  line-height: 140.625%; /* 45px */
}
.ready__button {
  gap: 16px;
  margin-top: 96px;
}
.ready__button button {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 134.766%;
  background: #F7941E;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 15px 16px 10px 17px;
  text-transform: uppercase;
}

.activ__button {
  background: black !important;
  color: white !important;
}

.blogs {
  margin: 88px auto 80px auto;
}
.blogs h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 23px;
}
.blogs p {
  font-size: 18px;
  font-weight: 400;
  line-height: 135.938%;
  text-align: center;
}
.blogs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 71px;
}
.blogs__title {
  width: 770px;
  height: 370px;
  background: #231f20;
}
.blogs__title p {
  padding: 63px 608px 27px 78px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 140.625%;
}
.blogs__title h2 {
  padding: 0 200px 60px 78px;
  width: 492px;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
}
.blogs__title span {
  padding: 0 602px 49px 78px;
  color: #fff;
  font-size: 18px;
  line-height: 140%;
}
.blogs__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  gap: 30px;
}
.blogs__text-left {
  background: #fff;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
}
.blogs__text-left h2 {
  font-size: 24px;
  line-height: 140%;
  padding: 48px 48px 16px 48px;
  font-weight: 700;
  width: 450px;
  height: 68px;
}
.blogs__text-left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: start;
  padding: 0 48px 16px 48px;
}
.blogs__text-left span {
  font-size: 14px;
  line-height: 140%;
  padding: 0 452px 50px 48px;
}
.blogs__text-right h2 {
  padding: 48px 48px 16px 48px;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}
.blogs__text-right p {
  padding: 0 48px 16px 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: start;
}
.blogs__text-right span {
  padding: 0 452px 50px 48px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.footer {
  margin: 105px auto 35px auto;
  background: #FAFAFA;
}
.footer__top {
  margin-left: 242px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 81px;
  padding-top: 115px;
  margin-bottom: 50px;
}
.footer__top span {
  font-size: 14px;
  font-weight: 700;
  line-height: 140.625%;
}
.footer__img {
  gap: 24px;
  text-align: center;
  margin-top: 55px;
}
.footer__end {
  margin-top: 72px;
  text-align: center;
  gap: 14px;
}

.activ__footer {
  margin-right: 60px;
}